<div class="position-absolute top-50 start-50 translate-middle p-5">
<div class="container-flex card border border-4 shadow -5 p-5">

    <form [formGroup]="signUpForm" >
        <h3>Sign up</h3>
        <div class="form-group mt-3 ">
            <label>Full Name</label>
            <input type="text"  formControlName="userName" class="form-control" placeholder="Enter your full name">
            <div *ngIf="signUpForm.controls['userName'].invalid && (signUpForm.controls['userName'].dirty || signUpForm.controls['userName'].touched)"
                    class="text-danger p-1 border-0 dark-light">
                    <div *ngIf="signUpForm.controls['userName'].invalid">
                        <small>Full name is reqired.</small>
                    </div>
                </div>
        </div>
        <div class="form-group mt-3">
            <label>Email</label>
            <input type="Email" formControlName="userEmail" class="form-control" placeholder="Enter your email">
            <div *ngIf="signUpForm.controls['userEmail'].invalid && (signUpForm.controls['userEmail'].dirty || signUpForm.controls['userEmail'].touched)"
                    class="text-danger p-1 border-0 dark-light">
                    <div *ngIf="signUpForm.controls['userEmail'].invalid">
                        <small>Valid email is required.</small>
                    </div>
                </div>
        </div>
        <div class="form-group mt-3">
            <label>Password</label>
            <input type="password" formControlName="userPassword"  class="form-control" placeholder="Enter new password">
            <div *ngIf="signUpForm.controls['userPassword'].invalid && (signUpForm.controls['userPassword'].dirty || signUpForm.controls['userPassword'].touched)"
                    class="text-danger p-1 border-0 dark-light">
                    <div *ngIf="signUpForm.controls['userPassword'].invalid">
                        <small>Password is reqired.</small>
                    </div>
                </div>
        </div>
        <!-- <div class="form-group mt-3">
            <label>Re-enter Password</label>
            <input type="password" formControlName="userRePassword" class="form-control" placeholder="Re-enter password">
            <div *ngIf="signUpForm.controls['userRePassword'].invalid && (signUpForm.controls['userRePassword'].dirty || signUpForm.controls['userRePassword'].touched)"
                    class="text-danger p-1 border-0 dark-light">
                    
                    <div *ngIf="signUpForm.controls['userRePassword'].invalid">
                        <small>Password is reqired.</small>
                    </div>
                </div>
                <div *ngIf ="signUpForm.controls['userPassword'] !==signUpForm.controls['userRePassword'] " class="text-danger">
                        <small>Password does not match</small>
                </div>
        </div> -->

    </form>
    <span>
        Already have account 
        <a (click)="goToLogin()" style="cursor: pointer;" class="dark-light">Log in</a>
    </span>
    <br>
    <button type="submit"  (click)="RegisterUser()"  class="btn btn-success mt-3" >Register</button>
    <!-- <button type="submit" [disabled]='!loginForm.valid' class="btn btn-success mt-3">Login</button> -->
    <!-- <p>
        Your form status is : {{ signUpForm.status }}
    </p> -->
</div>
