<nav class="navbar navbar-light " style="background-color: #FF5656;">
    <div class="container">
        <a class="navbar-brand " href="home">
            <h2>Quizzo</h2>
        </a>
        <div class="navbar-brand justify-content-end" href="#">
            <button class=" btn btn-outline-primary round-12" (click)="goToProfile()">
                Profile
            </button>
        </div>
    </div>

</nav>

<div class="card text-center border border-4 shadow -5 m-5">
    <div class="card-header fs-2">
        Welcome to Quizzo
    </div>
    <div class="card-body ">
        <h5 class="card-title">Rule and Regulation</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <div class="container-flex m-5">
            <div class="d-grid gap-2 col-4 mx-auto m-5">
                <button class="btn btn-primary m-3 p-2" (click)="goToQuiz()" type="button">Start Quiz</button>
            </div>
        </div>

    </div>

</div>