<div class="position-absolute top-50 start-50 translate-middle">
    <div class="container card border border-4 shadow -5">

        <form [formGroup]="loginForm" class="md-5 p-5">
            <h3>Login</h3>
            <div class="form-group mt-3">
                <label>Email</label>
                <input type="email" formControlName="userEmail" class="form-control"
                    placeholder="Enter full your Email Id">
                <div *ngIf="loginForm.controls['userEmail'].invalid && (loginForm.controls['userEmail'].dirty || loginForm.controls['userEmail'].touched)"
                    class="text-danger p-1 border-0 dark-light">
                    <div *ngIf="loginForm.controls['userEmail'].invalid">
                        <small>Email is reqired.</small>
                    </div>
                </div>
                <div class="form-group mt-3">
                    <label>Password</label>
                    <input type="password" formControlName="password" class="form-control"
                        placeholder="Enter your password">
                    <div *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)"
                        class="text-danger p-1 border-0 dark-light">
                        <div *ngIf="loginForm.controls['password'].invalid">
                            <small>password is reqired.</small>
                        </div>
                    </div>
                </div>

                <span>
                    Create new account <a class="dark-light m-1" style="cursor: pointer;" (click)="goSignUp()">Sign up</a>
                </span>
                <br>
                <button type="submit" (click)="getMeLogedIn()" [disabled]='!loginForm.valid' class="btn btn-success mt-3">Login</button>
<!-- 
                <p>
                    Your form status is : {{ loginForm.status }}
                </p> -->
            </div>
        </form>
    </div>
</div>